<div>Save any kind movies</div>

<h1>My List</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Create a new List", new_list_path %>

<ul>
  <% @lists.movies.each do |movie| %>
    <li><%=movie.title%></li>
  <% end %>
</ul>
