<div class="container">

    <%= cl_image_tag "j4emzmibrqppcehc7rpd", alt:"boris", width: 400, height: 300, crop: :fill %>


  <div class="container">
    <h1>Save any kind movies</h1>
  </div>


</div>

<h1>My List</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Create a new List", new_list_path %>
</div>
